/* =============
    Header
============= */
header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 45px;
}