/* =============
    Base
============= */
body{
    background-color: var(--white);
}

section{
    margin: 90px;
    padding: 10px 50px;
    border: gray 2px solid;
    border-radius: 10px;
    display: inline-block;
}

#middle{
    border-color: var(--purple);
}