/* =============
    Base
============= */
body{
    background-color: var(--white);
}

.wrapper{
    display: grid;
    place-items: center;
    min-height: 500px;
}

.grid-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
    width: 1200px;
    height: 450px;
}

.left{
    background-color: rgb(221, 220, 220);
    grid-column: 1;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
}

.middle{
    background-color: rgb(62, 187, 187);
    grid-column: 2;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
}

.right{
    background-color: rgb(221, 220, 220);
    grid-column: 3;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
}

