/* =============
    Typography
============= */

div,h2,h3,h4,a,p{
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--white);
}

h3{
    word-wrap: break-word;
}

p{
    text-align: left;
}

h4{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }