/* =============
    Typography
============= */

h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 80px;
    color: var(--white);
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: var(--white);
    word-wrap: break-word;
}

ul{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}